
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600;900&display=swap');


.foto{
  width: 100%;
}

.qr{
  width: 100%;
}
.qr img{
  width: 100%;
}

.titulo-qr{
  margin-bottom: 20px;
}

.boton-comenzar{
 color: #eea329 !important;
 border-color: #eea329 !important;
}

.boton-comenzar{
  color: #eea329 !important;
  border-color: #eea329 !important;
 }

 .boton-comenzar:hover{
  color: #aa7012 !important;
  border-color: #aa7012 !important;
 }






.tiempo{
  font-size: 150px;
}
.titulo{
  text-align: center;
  font-size: 50px;
  font-family: 'Barlow Condensed', sans-serif;

}

.info{
  width: 100%;
  margin-top: 40px;
}

.logo{
  width: 100%;
}

.logo img{
  width: 80%;
}

.Cont{
  border-style: solid;
  border: #eea329;
  border-radius: 10px;
  width: 300px;
}

.info-sorteo{
  font-size: 60px;
  color: #eea329
}

.foto-ganador{
  border-radius: 100px;
}

.subtit{
  font-size: 30px;
  font-weight: 100;
}

.publicidad{
  display: flex;
  width: 100%;
  align-items: center;
  align-items: center;
  justify-content: center;
  
}

.publicidad img{
  width: 99%;
  border-radius: 20px;
}

.contNumParticipantes{
  display: flex;
  border-radius: 25px;
  color: #eea329;
  border: solid 1px;
  font-size: 40px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;

}

.sorteo-winner-name{
  color: #eea329;
  font-size: 50px;
  margin: 20px;
}

.sorteo-animation-name{
  font-size: 50px;
}

.sorteo-winner-title{
  margin: 0;
}
.sorteo-animation-title{
  margin: 0;
}

.grid-container{
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;
  border-radius: 25px;
  margin: 5px;
  padding: 20px;
  height: 630px;
  background-color: rgba(0,0,0,0.7);
}

.grid-center{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}